@charset "UTF-8";

* {
    box-sizing: border-box;
    font-family: 'helvetica neue', 'Apple SD Gothic Neo', Roboto, Helvetica, Arial, sans-serif;
}

html {
}

body {
    background-color: #fafafa;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    display: flex;
}

p, span {
    font-size: 14px;
}

.feedadd {
    width: 27px;
    height: 27px;
    margin-left: 15px;
    all: unset;
}

table, tr, td {
	border: none;
	height: 100%;
}

.logo-wrapper {
	width: 100%;
	height: 100px;
	box-sizing: border-box;
}

.logo-text {
	font-family: fantasy;
	font-size: 40px;
	margin-top: 50px;
	color: #9B9BB5;
	padding: 10px;
}
