@charset "UTF-8";
	*{
		margin:0;
		padding:0;
		list-style:none;
		font-family:"malgun gothic";
		box-sizing:border-box;
	}
	body, html {
		margin:0;
		height:100%;
	}
	table {
		border: 1px solid #E2E2E2;
		border-collapse : collapse;
		empty-cells: hide;
	}
	th, td {
		border: 1px solid #E2E2E2;
		padding: 10px;
	}
	
	#side {
		width:100px;
		float:left;
		background-color:white;
    	height: 100%;
	}
	.content {
		overflow: hidden;
	    margin:75px 0 0 0;
	}
	
	a {text-decoration:none;color:inherit;}
	.clear{clear:both;}
	#sideContainer{
		background-color:white; 
		width:100%; 
		border-right:1px solid #E2E2E2; 
		height:100%;
		display: flex;
		align-items:center;
	}
	
	/*v1*/
	#nav-v1{width:100px;text-align:center;}
	.menu-v1{
		line-height:2;
		border:none;
		margin: 20px 0;
	}
	.menu-v1:hover{background-color:#000;}
	.menu-v1:hover>a{color:white;font-weight:bold;}
	
	