<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snspj.mappers.board">

	<select id="getBbsList" resultType="com.snspj.domain.BoardDTO" parameterType="HashMap">
		SELECT A.RGTR_ID		AS rgtrId
			, A.RGTR_DT		AS rgtrDt
			, A.BBS_PLC		AS bbsPlc
			, A.BBS_ID		AS bbsId
			, A.BBS_CN		AS bbsCn
			, A.BBS_SPT_CNT		AS bbsSptCnt
			, A.ATCH_FILE_NO	AS atchFileNo
		FROM TB_BBS A
		WHERE RGTR_ID IN
		(
			SELECT A.FLWR_ID
			FROM TB_FLLW A
			WHERE MBR_ID = #{mbrId}
		)
		ORDER BY A.BBS_ID DESC
	</select>
	
	<select id="getBbsView" resultType="com.snspj.domain.BoardDTO" parameterType="java.lang.Integer">
		SELECT BBS_ID    AS bbsId,
			BBS_CN        AS bbsCn,
			ATCH_FILE_NO  AS atchFileNo,
			BBS_SPT_CNT	  AS bbsSptCnt,
			BBS_PLC		  AS bbsPlc,
			RGTR_ID       AS rgtrId,
			RGTR_DT       AS rgtrDt,
			MDFR_ID       AS mdfrId,
			MDFR_DT       AS mdfrDt
		FROM	TB_BBS
		WHERE	BBS_ID = #{bbsId}
	</select>
	
	<select id="getMaxBbsId" resultType="java.lang.Integer">
		SELECT IFNULL(MAX(BBS_ID), 0) FROM TB_BBS
	</select>
	
	<insert id="regiBbs" parameterType="com.snspj.domain.BoardDTO">
		INSERT INTO TB_BBS 
		( 
			BBS_ID,
			BBS_CN,
			ATCH_FILE_NO,
			BBS_SPT_CNT,
			BBS_PLC,
			RGTR_ID,
			RGTR_DT,
			MDFR_ID,
			MDFR_DT
		)
		VALUES(	#{bbsId},
				#{bbsCn},
				#{atchFileNo},
				0,
				null,
				#{rgtrId},
				now(),
				#{rgtrId},
				now()
		)
	</insert>

</mapper>